{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">

            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>
<!-- 
            <div class="col-md-12">
                <label for="fname" class="form-label">Add From Comparative Schedule:</label>
                <select class="form-control" name="comp_schedule" id="comp_schedule">
                    <option value="None">..</option>
    
                    </select>           
             </div> -->

            <!-- <div class="col-md-6">
                <label for="fname" class="form-label">Requestor:</label>
                <input type="text" class="form-control" id="requester" name="requester" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div>
            <p></p> -->
            <div class="col-md-12">
                <label for="fname" class="form-label">Add From Service Request:</label>
                <select class="form-control" name="request_id" id="request_id">
                    <option value="None">..</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Requesting Department:</label>
                <input type="text" class="form-control" id="requesting_dpt" name="requesting_dpt" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Cost Category:</label>
                <input type="text" class="form-control" id="cost_category" name="cost_category" value="">
            </div>

            <div class="col-md-12">
                <label for="lname" class="form-label">Request Justification:</label>
                <input type="text" class="form-control" id="request_justification" name="request_justification" value="">
            </div>

            <!-- <div class="col-md-6">
                <label for="fname" class="form-label">Name and address of Supplier:</label>
                <input type="text" class="form-control" id="name_address_of_supplier" name="name_address_of_supplier" value="">
            </div> -->

            <p></p>

            <!-- <center><p style="color:red;">Purchase Request Must be Approved by the DH/PI before a purchase Order is to be issued.</p></center> -->

            <p></p>

            <div class="col-md-6">
                <label for="fname" class="form-label">QTY:</label>
                <input type="number" class="form-control" id="qnty" name="qnty" value="">
            </div>

            <!-- <div class="col-md-6">
                <label for="lname" class="form-label">Item No.</label>
                <input type="number" class="form-control" id="item_number" name="item_number" value="">
            </div> -->

            <div class="col-md-12">
                <label for="fname" class="form-label">Description of item to be purchased:</label>
                <textarea type="text" class="form-control" id="description" name="description" value=""></textarea>
            </div>

            <p></p>

            <!-- <div class="col-md-6">
                <label for="lname" class="form-label">Unit Price</label>
                <input type="number" class="form-control" id="unit_price" name="unit_price" value="">
            </div> -->
<!--             
            <div class="col-md-6">
                <label for="fname" class="form-label">Total Price:</label>
                <input type="number" class="form-control" id="total" name="total" value="">
            </div> -->

            <p></p>
<!-- 
            <div class="col-md-4">
                <label for="q1" class="form-label">Quotaion 1:</label>

                <input type="file" accept="application/pdf, application/vnd.ms-excel" class="form-control" id="q1" name="q1" value="John">
            </div> -->

            <!-- <div class="col-md-4">
                <label for="q2" class="form-label">Quotaion 2:</label>
                <input type="file" accept="application/pdf, application/vnd.ms-excel" class="form-control" id="q2" name="q2" value="John">
            </div>

            <div class="col-md-4">
                <label for="q3" class="form-label">Quotaion 3:</label>
                <input type="file" accept="application/pdf, application/vnd.ms-excel" class="form-control" id="q3" name="q3" value="John">
            </div> -->




<!-- 
            <div class="col-md-6">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div> -->


            <div class="col-md-12">
                <label for="certifier" class="form-label">Select Procurement Officer</label>
                <select class="form-control" name="pi" id="pi">
                <option value="None">..</option>

                </select>
            </div>

            <!-- <div class="col-md-6">
                <label for="fname" class="form-label"> PI/Supervisor:</label>
                <input type="text" class="form-control" id="supervisor_approved" name="supervisor_approved" value="">
            </div>

            <div class="col-md-6">
                <label for="lname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="supervisor_approved_date" name="supervisor_approved_date" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label"> Accounts Clerk</label>
                <input type="text" class="form-control" id="accounts_clerk_approved" name="accounts_clerk_approved" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date</label>
                <input type="text" class="form-control" id="accounts_clerk_approved_date" name="accounts_clerk_approved_date" value="">
            </div> -->

          </form>

          <div class="col-md-12">
            <a onclick="sendEdit();" class="btn btn-primary"> SUBMIT</a>

            <script  language="JavaScript" type="text/javascript">




// $('#comp_schedule').on('change', function(event) {
//        alert("This is the value selected in solutions: " + $(this).val());


//   });



// populate the users dropdown
    const url = "https://www.lorkas.co.zw/get_service_requests"
                    const data = {
                      'id':"case_id",
                    }
                      $.post(url,data, function(data,status){
                        console.log(data)
                        $.each(data, function(val, text) {
                            $('#request_id').append( new Option(text,val) );
                        });
        });


const url1 = "https://www.lorkas.co.zw/get_users"
                    const data1 = {
                      'id':"case_id",
                    }
                      $.post(url1,data1, function(data1,status){
        
                        console.log(data1)
                        $.each(data1, function(val, text) {
                            $('#pi').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();
        });

    

                    
                    function sendEdit(){
                        window.scrollTo({ top: 0, behavior: 'smooth' });

                        $('#overlay').fadeIn();

                        var request_id= document.getElementById('request_id').value;
                        var cost_category= document.getElementById('cost_category').value;
                        // var comp_schedule= document.getElementById('q1').files[0];
                        var requesting_dpt= document.getElementById('requesting_dpt').value;
                        // var budget_line_item= document.getElementById('budget_line_item').value;
                        var request_justification= document.getElementById('request_justification').value;

                        // var item_number= document.getElementById('item_number').value;
                        var description= document.getElementById('description').value;
                        

                
                        // var name_address_of_supplier= document.getElementById('name_address_of_supplier').value; 
                        var qnty = document.getElementById('qnty').value;
    
                        // var unit_price = document.getElementById('unit_price').value;
                        // var total=      document.getElementById('total').value;

                
                        var supervisor_approved= document.getElementById('pi').value;
                        // var supervisor_approved_date= document.getElementById('supervisor_approved_date').value;
                
                        // var accounts_clerk_approved= document.getElementById('accounts_clerk_approved').value;
                        // var accounts_clerk_approved_date= document.getElementById('accounts_clerk_approved_date').value;
      
                            current_url = window.location.href;
                            arr = current_url.split("_");
                            case_id = arr.at(-1);
                        if (case_id == "add"){
                
                        const url = "https://www.lorkas.co.zw/procurement_request_send_record";
                        // current_url = window.location.href;
                        // arr = current_url.split("/");
                        // case_id = arr.at(-1);
                        // month_id =arr[arr.length - 2];
                        console.log("after url");
                        const data = {
                            // "comp_schedule": comp_schedule,
                                            // "q1": q1,
                                            "requesting_dpt": requesting_dpt,
                                            "request_id": request_id,
                                            "cost_category": cost_category,
                                            // "item_number":item_number,
                                            "description":description,
                
                                            "request_justification": request_justification,
                                            // "name_address_of_supplier":name_address_of_supplier,

                                            "qnty": qnty,
                                            "id": case_id,
                                            // "unit_price": unit_price,
                                            // "total": total,
                
                                            "officer": supervisor_approved,
                                            // "supervisor_approved_date": supervisor_approved_date,
                
                                            // "accounts_clerk_approved": accounts_clerk_approved,
                                            // "accounts_clerk_approved_date": accounts_clerk_approved_date,
                
                                           }
                
                                console.log("after dict");


                        $.post(url,data, function(data,status){
                        if (data['message']=="success"){
                            alert("success");
                            $('#overlay').fadeOut();

                            window.location.href="https://www.lorkas.co.zw/procurement_request_all";
                        }else{
                            alert(data['message']);
                            console,log("err")
                            $('#overlay').fadeOut();

                            window.location.href="https://www.lorkas.co.zw/procurement_request_all";
                
                        }
                
                        });
                        // alert("stop hee");
                    }
                
                    }
                        </script>
                
                
                
                


{% endblock content %}