{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}

<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">

            <div class="col-md-6">
                <label  class="form-label">request_id:</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Payee:</label>
                <input type="text" class="form-control" id="payee" name="payee" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label"> CHEQUE/CASH/TRANSFER:</label>
                <input type="text" class="form-control" id="payment_type " name="payment_type " value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" value="">
            </div>

            <hr>

            <div class="col-md-6">
                <label  class="form-label">Project Number:</label>
                <input type="text" class="form-control" id="project_number" name="project_number" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Account Code:</label>
                <input type="text" class="form-control" id="account_code" name="account_code" value="">
            </div>

            <div class="col-md-12">
                <label  class="form-label">Details of Expenditure:</label>
                <textarea type="text" class="form-control" id="details" name="details" value=""></textarea>
            </div>

            <div class="col-md-6">
                <label  class="form-label">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Total:</label>
                <input type="text" class="form-control" id="total" name="total" value="">
            </div>

            <hr>

            <div class="col-md-6">
                <label  class="form-label">Compiled By:</label>
                <input type="text" class="form-control" id="compiled_by" name="compiled_by" value="">
            </div>

            <hr>

            <div class="col-md-6">
                <label  class="form-label">Certified By:</label>
                <input type="text" class="form-control" id="certified_by" name="certified_by" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="certified_by_date" name="certified_by_date" value="">
            </div>

            <hr>

            <div class="col-md-6">
                <label  class="form-label">Cleared by Finance Manager:</label>
                <input type="text" class="form-control" id="cleared_by_fin_man" name="cleared_by_fin_man" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="cleared_by_fin_man_date" name="cleared_by_fin_man_date" value="">
            </div>

            <hr>

            <div class="col-md-6">
                <label  class="form-label">Approved by Project Lead/Manager:</label>
                <input type="text" class="form-control" id="approved_by_project_man" name="approved_by_project_man" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_project_man_date" name="approved_by_project_man_date" value="">
            </div>
            
            <hr>

            <div class="col-md-6">
                <label  class="form-label">Approved By:</label>
                <input type="text" class="form-control" id="approved_by" name="approved_by" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_date" name="approved_by_date" value="">
            </div>
            <hr>
          </form> 
{% endblock content %} 
   
     
     
     
     
   
     
     

    
    

    
    

    
    