$("#btn1").val()

                       
var company_name_supplier1= $("#company_name_supplier1").val();
var item_number_supplier1= $("#item_number_supplier1").val();
var desc_supplier1= $("#desc_supplier1").val();
var qnty_supplier1= $("#qnty_supplier1").val();
var unit_price_supplier1= $("#unit_price_supplier1").val();
var total_price_supplier1= $("#total_price_supplier1").val();

var company_name_supplier2= $("#company_name_supplier2").val();
var item_number_supplier2= $("#item_number_supplier2").val();
var desc_supplier2= $("#desc_supplier2").val();
var qnty_supplier2= $("#qnty_supplier2").val();
var unit_price_supplier2= $("#unit_price_supplier2").val();
var total_price_supplier2= $("#total_price_supplier2").val();

var company_name_supplier3= $("#company_name_supplier3").val();
var item_number_supplier3= $("#item_number_supplier3").val();
var desc_supplier3= $("#desc_supplier3").val();
var qnty_supplier3= $("#qnty_supplier3").val();
var unit_price_supplier3= $("#unit_price_supplier3").val();
var total_price_supplier3= $("#total_price_supplier3").val();

var recommended_supplier= $("#recommended_supplier").val();
var recommended_supplier_reason= $("#recommended_supplier_reason").val();
var dpt_project_requesting= $("#dpt_project_requesting").val();

var service_request= $("#service_request").val();


var tech_person_by= $("#tech_person_by").val();