
record.dst_approver=dst_approver 

record.payee= payee
record.payment_type= payment_type
record.amount= amount
record.project_number= project_number

record.account_code= account_code 
record.details = details
// record.amount = pat_name
 record.unit_price = unit_price
record.total= total

record.certified_by= certified_by
record.certified_by_date= certified_by_date

record.cleared_by_fin_man= cleared_by_fin_man
record.cleared_by_fin_man_date= cleared_by_fin_man_date

record.approved_by_project_man= approved_by_project_man
record.approved_by_project_man_date= approved_by_project_man_date

record.approved_by= approved_by
record.approved_by_date= approved_by_date
