{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form>
            <div class="row">
                <div class="col-lg-6">

            <label for="fname">request_id:</label><br>
            <input type="text" id="request_id" name="request_id" value=""><br>
</div>
<div class="col-lg-6">
            <label for="fname">Requestor:</label><br>
            <input type="text" id="requester" name="requester" value=""><br>
            </div>
            </div>

            <label for="fname">Date:</label><br>
            <input type="text" id="date_of_request" name="date_of_request" value=""><br>

            <label for="fname">Requesting Department:</label><br>
            <input type="text" id="requesting_dpt" name="requesting_dpt" value=""><br>
            
            <label for="lname">Request Justification:</label><br>
            <input type="text" id="request_justification" name="request_justification" value=""><br>
            
            <label for="fname">Name and address of Supplier:</label><br>
            <input type="text" id="name_address_of_supplier" name="name_address_of_supplier" value=""><br>
            
            <label for="fname">Budget Line Item (Where applicable):</label><br>
            <input type="text" id="budget_line_item" name="budget_line_item" value=""><br>

            <br>
            <br>

            <p>Purchase Request Must be Approved by the DH/PI before a purchase Order is to be issued.</p>

            <label for="fname">QTY:</label><br>
            <input type="text" id="qnty" name="qnty" value=""><br>
            
            <label for="lname">Item No.</label><br>
            <input type="text" id="item_number" name="item_number" value=""><br>
            
            <label for="fname">Description og item to be purchased:</label><br>
            <textarea type="text" id="description" name="description" value=""></textarea>
            
            
            <label for="lname">Unit Price</label><br>
            <input type="text" id="unit_price" name="unit_price" value=""><br>
            
            <label for="fname">Total Price:</label><br>
            <input type="text" id="total" name="total" value=""><br>

            <label for="fname">Signature of Requestor:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            
            <label for="lname">Date:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br>
            
            <label for="fname">Signature of PI/Supervisor:</label><br>
            <input type="text" id="supervisor_approved" name="supervisor_approved" value=""><br>
            
            <label for="lname">Date:</label><br>
            <input type="text" id="supervisor_approved_date" name="supervisor_approved_date" value=""><br>
            
            <label for="fname">Signature of Accounts Clerk</label><br>
            <input type="text" id="accounts_clerk_approved" name="accounts_clerk_approved" value=""><br>

            <label for="fname">Date</label><br>
            <input type="text" id="accounts_clerk_approved_date" name="accounts_clerk_approved_date" value=""><br>

          </form>


{% endblock content %}