{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">
            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>
            <!-- <div class="col-md-6">
                <label for="fname" class="form-label">request_id:</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Requestor:</label>
                <input type="text" class="form-control" id="requester" name="requester" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="" readonly >
            </div>
            <p></p> -->

            <div class="col-md-6">
                <label for="fname" class="form-label">Requesting Department:</label>
                <input type="text" class="form-control" id="requesting_dpt" name="requesting_dpt" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Budget Line Item (Where applicable):</label>
                <input type="text" class="form-control" id="budget_line_item" name="budget_line_item" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="lname" class="form-label">Request Justification:</label>
                <input type="text" class="form-control" id="request_justification" name="request_justification" value="" readonly >
            </div>




            <p></p>

            <div class="col-md-6">
                <label for="fname" class="form-label">QTY:</label>
                <input type="text" class="form-control" id="qnty" name="qnty" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="lname" class="form-label">Item Name</label>
                <input type="text" class="form-control" id="item_name" name="item_name" value="" readonly >
            </div>

            <div class="col-md-12">
                <label for="fname" class="form-label">Description of item to be purchased:</label>
                <textarea type="text" class="form-control" id="description" name="description" value="" readonly ></textarea>
            </div>



            <p></p>

            <div class="col-md-6">
                <label for="fname" class="form-label"> Requestor:</label>
                <input type="text" class="form-control" id="requester" name="requester" value="" readonly>
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="" readonly >
            </div>




           <div class="col-md-6">
                <label for="supervisor_approved" class="form-label"> Department Head/ Designee:</label>
                <input type="text" class="form-control" id="supervisor_approved" name="supervisor_approved" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="lname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="supervisor_approved_date" name="supervisor_approved_date" value="" readonly >
            </div>



 
            <div class="col-md-6">
                <label for="fname" class="form-label"> Accounts Clerk</label>
                <input type="text" class="form-control" id="finance_officer" name="finance_officer" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date</label>
                <input type="text" class="form-control" id="finance_officer_approved_date" name="finance_officer_approved_date" value="" readonly >
            </div>

          </form>

          {% if record.rejector == "None" %}
          {% else %}
        <div style="position: fixed; 
          bottom: 500px; 
          left: 200px;
          z-index: 10000;
          font-size:100px; 
          color: red; 
          transform:rotate(-30deg);
          opacity: 0.6;">
            rejected by {{record.rejector}}
            </div>

            <p>Rejection message :<b>{{record.rejector_message}}</b> </p>
        {% endif %}

          <div class="col-md-12">
            <a onclick="" class="btn btn-primary"> Print</a>

            <script  language="JavaScript" type="text/javascript">



                // populating the already existing records
                
                            current_url = window.location.href;
                                        arr = current_url.split("/");
                                        case_id = arr.at(-1);
                                    console.log(case_id);
                                    if (case_id == "add"){}else{
                                    const url = "  https://lorkas.co.zw/procurement/purchase_request_get_record"
                                    const data = {
                                      'id':case_id,
                                    }
                            
                                      $.post(url,data, function(data,status){
                            
                            if (data['message']=="success"){
                
                                // console.log(data);

                
                    $("#requester").val(data['requester']);
                    $("#date_of_request").val(data['date_of_request']);
                    $("#requesting_dpt").val(data['requesting_dpt']);
                    $("#budget_line_item").val(data['budget_line_item']);
                    $("#request_justification").val(data['request_justification']);

                    $("#qnty").val(data['qnty']);
                    $("#item_name").val(data['item_name']);
                    $("#description").val(data['description']);

                    $("#supervisor_approved").val(data['supervisor_approved']);
                    $("#supervisor_approved_date").val(data['supervisor_approved_date']);

                    $("#finance_officer").val(data['finance_officer']);
                   $("#finance_officer_approved_date").val(data['finance_officer_approved_date']);   
                   $('#overlay').fadeOut();
     
                }else{
                    $('#overlay').fadeOut();

                            alert(data['message']);
                            window.location.href="/purchase_request_all";
                
                        }
                
                        });
                    }
                
                
                        </script>
                
                
                
                


{% endblock content %}