{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}

<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">

            <!-- <div class="col-md-6">
                <label  class="form-label">request_id:</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="">
            </div> -->

            <div class="col-md-12">
                <label  class="form-label">Select Procurement Request:</label>
                <select class="form-control" name="service_request" id="service_request">
                    <option value="None">..</option>
    
                    </select>           
           </div>

            <div class="col-md-12">
                <label  class="form-label">payee:</label>
                <input type="text" class="form-control" id="payee" name="payee" value="">
            </div>

            <hr>

            <legend>Supplier 1</legend>
            
            <div class="col-md-6">
                <label  class="form-label">Supplier 1 (Company Name):</label>
                <input type="text" class="form-control" id="company_name_supplier1" name="company_name_supplier1" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Item No. (Supplier 1):</label>
                <input type="number" class="form-control" id="item_number_supplier1" name="item_number_supplier1" value="">
            </div>

            <div class="col-md-12">
                <label  class="form-label"> Description:</label>
                <textarea type="text" class="form-control" id="desc_supplier1" name="desc_supplier1" value=""></textarea>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Qty:</label>
                <input type="number" class="form-control" id="qnty_supplier1" name="qnty_supplier1" value="">
            </div>
            
            <div class="col-md-4">
                <label  class="form-label">Unit Price:</label>
                <input type="number" class="form-control" id="unit_price_supplier1" name="unit_price_supplier1" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Total Price:</label>
                <input type="number" class="form-control" id="total_price_supplier1" name="total_price_supplier1" value="">
            </div>

            <hr>

            <legend>Supplier 2</legend>
            <div class="col-md-6">
                <label  class="form-label">Supplier 2 (Company Name):</label>
                <input type="text" class="form-control" id="company_name_supplier2" name="company_name_supplier2" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Item No. (supplier 2):</label>
                <input type="number" class="form-control" id="item_number_supplier2" name="item_number_supplier2" value="">
            </div>

            <div class="col-md-12">
                <label  class="form-label">Description:</label>
                <textarea type="text" class="form-control" id="desc_supplier2" name="desc_supplier2" value=""></textarea>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Qty:</label>
                <input type="number" class="form-control" id="qnty_supplier2" name="qnty_supplier2" value="">
            </div>
            
            <div class="col-md-4">
                <label  class="form-label">Unit price:</label>
                <input type="number" class="form-control" id="unit_price_supplier2" name="unit_price_supplier2" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Total Price:</label>
                <input type="number" class="form-control" id="total_price_supplier2" name="total_price_supplier2" value="">
            </div>

            <hr>
            
            <legend>Supplier 3</legend>
            <div class="col-md-6">
                <label  class="form-label">Supplier 3 (Company Name):</label>
                <input type="text" class="form-control" id="company_name_supplier3" name="company_name_supplier3" value="">
            </div>

            <div class="col-md-6">
                <label  class="form-label">Supplier 3 (Supplier3):</label>
                <input type="text" class="form-control" id="item_number_supplier3" name="item_number_supplier3" value="">
            </div>

            <div class="col-md-12">
                <label  class="form-label">Description:</label>
                <textarea type="text" class="form-control" id="desc_supplier3" name="desc_supplier3" value=""></textarea>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Qty:</label>
                <input type="number" class="form-control" id="qnty_supplier3" name="qnty_supplier3" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Unit Price:</label>
                <input type="number" class="form-control" id="unit_price_supplier3" name="unit_price_supplier3" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Total Price:</label>
                <input type="number" class="form-control" id="total_price_supplier3" name="total_price_supplier3" value="">
            </div>
            
            <hr>

            <div class="col-md-4">
                <label  class="form-label">Recommended Supplier:</label>
                <input type="text" class="form-control" id="recommended_supplier" name="recommended_supplier" value="">
            </div>

            <div class="col-md-8">
                <label  class="form-label">Reasons for recommendations:</label>
                <textarea type="text" class="form-control" id="recommended_supplier_reason" name="recommended_supplier_reason" value=""></textarea>
            </div>

            <hr>

            <div class="col-md-12">
                <label  class="form-label">Department/Project requesting purchase:</label>
                <input type="text" class="form-control" id="dpt_project_requesting" name="dpt_project_requesting" value="">
            </div>
            
            <!-- <div class="col-md-12">
                <label  class="form-label">Upload file</label>
                <input type="file" class="form-control" id="upload" value="" name="upload" accept=".doc, .docx, .pdf, .txt">
            </div> -->

            

            <hr>
<!-- 
            <div class="col-md-4">
                <label  class="form-label">Requested By:</label>
                <input type="text" class="form-control" id="requested_by" name="requested_by" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Signature:</label>
                <input type="text" class="form-control" id="requested_by_sig" name="requested_by_sig" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="requested_by_date" name="requested_by_date" value="">
            </div>
            
            <hr> -->

            <div class="col-md-12">
                <label  class="form-label">Select Technical Person:</label>
                <select class="form-control" name="tech_person_by" id="tech_person_by">
                    <option value="None">..</option>
    
                    </select>            </div>
<!-- 
            <div class="col-md-4">
                <label  class="form-label">Signature:</label>
                <input type="text" class="form-control" id="tech_person_by_sig" name="tech_person_by_sig" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="tech_person_date" name="tech_person_date" value="">
            </div>

            <hr>

            <div class="col-md-4">
                <label  class="form-label">Dept Head:</label>
                <input type="text" class="form-control" id="dpt_head_by" name="dpt_head_by" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Signature:</label>
                <input type="text" class="form-control" id="dpt_head_by_sig" name="dpt_head_by_sig" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="dpt_head_date" name="dpt_head_date" value="">
            </div>

            <hr>

            <div class="col-md-4">
                <label  class="form-label">Coordinator/Team Lead:</label>
                <input type="text" class="form-control" id="team_lead_by" name="team_lead_by" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Signature:</label>
                <input type="text" class="form-control" id="team_lead_by_sig" name="team_lead_by_sig" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="team_lead_date" name="team_lead_date" value="">
            </div>

            <hr>

            <div class="col-md-4">
                <label  class="form-label">Approved by:(DG/PI):</label>
                <input type="text" class="form-control" id="approved_by" name="approved_by" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Signature:</label>
                <input type="text" class="form-control" id="approved_by_sig" name="approved_by_sig" value="">
            </div>

            <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_date" name="approved_date" value="">
            </div>
            <hr> -->
          </form> 

          <div class="col-md-12" style="margin-top: 3%;">
            <a onclick="sendEdit();" id="approve" class="btn btn-primary"> SUBMIT</a>

            <script  language="JavaScript" type="text/javascript">




// populate the service requests dropdown

const url1 = "https://www.lorkas.co.zw/get_procurement_requests"
                    const data1 = {
                      'id':"case_id",
                    }
            
                      $.post(url1,data1, function(data1,status){
                        console.log(data1)
                        $.each(data1, function(val, text) {
                            $('#service_request').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();

        });




// populate the users dropdown

const url = "https://www.lorkas.co.zw/get_users"
                    const data = {
                      'id':"case_id",
                    }
                      $.post(url,data, function(data,status){
                        console.log(data)
                        $.each(data, function(val, text) {
                            $('#tech_person_by').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();
        });



                // populating the already existing records
                
                            current_url = window.location.href;
                                        arr = current_url.split("_");
                                        case_id = arr.at(-1);
                                    console.log(case_id);
                                    if (case_id == "add"){}else{
                                    const url = "https://www.lorkas.co.zw/comp_schedule_get_record"
                                    const data = {
                                      'id':case_id,
                                    }
                    
                                      $.post(url,data, function(data,status){
                            
                            if (data['message']=="success"){
                
                    // $("#request_id").val(data['request_id']);
                    $("#payee").val(data['payee']);

                    // $("#upload").val(data['upload']);
                    $("#company_name_supplier1").val(data['company_name_supplier1']);
                    $("#item_number_supplier1").val(data['item_number_supplier1']);
                    $("#desc_supplier1").val(data['desc_supplier1']);
                    $("#qnty_supplier1").val(data['qnty_supplier1']); 
                    $("#unit_price_supplier1 ").val(data['unit_price_supplier1']);
                    $("#total_price_supplier1").val(data['total_price_supplier1']);

                    $("#company_name_supplier2").val(data['company_name_supplier2']);
                    $("#item_number_supplier2").val(data['item_number_supplier2']);
                    $("#desc_supplier2").val(data['desc_supplier2']);
                    $("#qnty_supplier2").val(data['qnty_supplier2']); 
                    $("#unit_price_supplier2 ").val(data['unit_price_supplier2']);
                    $("#total_price_supplier2").val(data['total_price_supplier2']);

                    $("#company_name_supplier3").val(data['company_name_supplier3']);
                    $("#item_number_supplier3").val(data['item_number_supplier3']);
                    $("#desc_supplier3").val(data['desc_supplier3']);
                    $("#qnty_supplier3").val(data['qnty_supplier3']); 
                    $("#unit_price_supplier3 ").val(data['unit_price_supplier3']);
                    $("#total_price_supplier3").val(data['total_price_supplier3']);

                    $("#recommended_supplier").val(data['recommended_supplier']);
                    $("#recommended_supplier_reason").val(data['recommended_supplier_reason']);
                    $("#dpt_project_requesting").val(data['dpt_project_requesting']);

                    // $("#requested_by").val(data['requested_by']); 
                    // $("#requested_by_sig ").val(data['requested_by_sig']);
                    // $("#requested_by_date").val(data['requested_by_date']);

                    // $("#tech_person_by").val(data['tech_person_by']); 
                    // $("#tech_person_by_sig ").val(data['tech_person_by_sig']);
                    // $("#tech_person_date").val(data['tech_person_date']);

                    // $("#dpt_head_by").val(data['dpt_head_by']); 
                    // $("#dpt_head_by_sig ").val(data['dpt_head_by_sig']);
                    // $("#dpt_head_date").val(data['dpt_head_date']);

                    // $("#team_lead_by").val(data['team_lead_by']); 
                    // $("#team_lead_by_sig ").val(data['team_lead_by_sig']);
                    // $("#team_lead_date").val(data['team_lead_date']);

                    // $("#approved_by").val(data['approved_by']); 
                    // $("#approved_by_sig ").val(data['approved_by_sig']);
                    // $("#approved_date").val(data['approved_date']);    
                        }
                        else{
                            console.log(data['message'])
                            window.location.href="/comp_schedule_all";
                        }
                        });
                    }
                
                    function sendEdit(){
                        $('#approve').prop('disabled', true);

                        // var request_id= document.getElementById('request_id').value;
                        var payee= document.getElementById('payee').value;
                        
                        // var upload= document.getElementById('upload').files[0];
                        var company_name_supplier1= document.getElementById('company_name_supplier1').value;
                        var item_number_supplier1= document.getElementById('item_number_supplier1').value;
                        var desc_supplier1= document.getElementById('desc_supplier1').value;
                        var qnty_supplier1= document.getElementById('qnty_supplier1').value;
                        var unit_price_supplier1= document.getElementById('unit_price_supplier1').value;
                        var total_price_supplier1= document.getElementById('total_price_supplier1').value;

                        var company_name_supplier2= document.getElementById('company_name_supplier2').value;
                        var item_number_supplier2= document.getElementById('item_number_supplier2').value;
                        var desc_supplier2= document.getElementById('desc_supplier2').value;
                        var qnty_supplier2= document.getElementById('qnty_supplier2').value;
                        var unit_price_supplier2= document.getElementById('unit_price_supplier2').value;
                        var total_price_supplier2= document.getElementById('total_price_supplier2').value;

                        var company_name_supplier3= document.getElementById('company_name_supplier3').value;
                        var item_number_supplier3= document.getElementById('item_number_supplier3').value;
                        var desc_supplier3= document.getElementById('desc_supplier3').value;
                        var qnty_supplier3= document.getElementById('qnty_supplier3').value;
                        var unit_price_supplier3= document.getElementById('unit_price_supplier3').value;
                        var total_price_supplier3= document.getElementById('total_price_supplier3').value;

                        var recommended_supplier= document.getElementById('recommended_supplier').value;
                        var recommended_supplier_reason= document.getElementById('recommended_supplier_reason').value;
                        var dpt_project_requesting= document.getElementById('dpt_project_requesting').value;

                        var service_request= document.getElementById('service_request').value;
                        // var requested_by_sig= document.getElementById('requested_by_sig').value;
                        // var requested_by_date= document.getElementById('requested_by_date').value;

                        var tech_person_by= document.getElementById('tech_person_by').value;
                        // var tech_person_by_sig= document.getElementById('tech_person_by_sig').value;
                        // var tech_person_date= document.getElementById('tech_person_date').value;

                        // var dpt_head_by= document.getElementById('dpt_head_by').value;
                        // var dpt_head_by_sig= document.getElementById('dpt_head_by_sig').value;
                        // var dpt_head_date= document.getElementById('dpt_head_date').value;

                        // var team_lead_by= document.getElementById('team_lead_by').value;
                        // var team_lead_by_sig= document.getElementById('team_lead_by_sig').value;
                        // var team_lead_date= document.getElementById('team_lead_date').value;

                        // var approved_by= document.getElementById('approved_by').value;
                        // var approved_by_sig= document.getElementById('approved_by_sig').value;
                        // var approved_date= document.getElementById('approved_date').value;
      
                            current_url = window.location.href;
                            arr = current_url.split("_");
                            case_id = arr.at(-1);
                        console.log(case_id);
                        if (case_id == "add"){
                
                        const url = "https://www.lorkas.co.zw/comp_schedule_send_record";
                        // current_url = window.location.href;
                        // arr = current_url.split("/");
                        // case_id = arr.at(-1);
                        // month_id =arr[arr.length - 2];
                        console.log("after url");
                        const data = {
                            // "request_id": request_id,
                                            "payee": payee,
                                            // "upload": upload,
                                            "company_name_supplier1": company_name_supplier1,
                                            "item_number_supplier1": item_number_supplier1,
                                            "desc_supplier1": desc_supplier1,
                                            "qnty_supplier1":qnty_supplier1,
                                            "unit_price_supplier1":unit_price_supplier1,
                                            "total_price_supplier1": total_price_supplier1,

                                            "company_name_supplier2": company_name_supplier2,
                                            "item_number_supplier2": item_number_supplier2,
                                            "desc_supplier2": desc_supplier2,
                                            "qnty_supplier2":qnty_supplier2,
                                            "unit_price_supplier2":unit_price_supplier2,
                                            "total_price_supplier2": total_price_supplier2,

                                            "company_name_supplier3": company_name_supplier3,
                                            "item_number_supplier3": item_number_supplier3,
                                            "desc_supplier3": desc_supplier3,
                                            "qnty_supplier3":qnty_supplier3,
                                            "unit_price_supplier3":unit_price_supplier3,
                                            "total_price_supplier3": total_price_supplier3,

                                            "recommended_supplier": recommended_supplier,
                                            "recommended_supplier_reason": recommended_supplier_reason,
                                            "dpt_project_requesting": dpt_project_requesting,

                                            "service_request":service_request,
                                            // "requested_by_sig":requested_by_sig,
                                            // "requested_by_date": requested_by_date,

                                            "tech_person_by": tech_person_by,
                                            // "tech_person_by_sig": tech_person_by_sig,
                                            // "tech_person_date": tech_person_date,

                                            // "dpt_head_by":dpt_head_by,
                                            // "dpt_head_by_sig":dpt_head_by_sig,
                                            // "dpt_head_date": dpt_head_date,

                                            // "team_lead_by": team_lead_by,
                                            // "team_lead_by_sig": team_lead_by_sig,
                                            // "team_lead_date": team_lead_date,

                                            // "approved_by":approved_by,
                                            // "approved_by_sig":approved_by_sig,
                                            // "approved_date": approved_date,
                                           }
                
                                console.log("after dict");
                        $.post(url,data, function(data,status){
                        if (data['message']=="success"){
                            console.log("success")
                            alert(data['message']);
                            window.location.href="https://www.lorkas.co.zw/comp_schedule_quotes_upload/"+data['id'];
                        }else{
                            console.log(data['message'])
                            alert(data['message']);
                            window.location.href="https://www.lorkas.co.zw/comp_schedule_all";
                
                        }
                
                        });
                        // alert("stop hee");
                    }else{
                
                        const url = "https://www.lorkas.co.zw/purchase_request_edit_record/";
                        // current_url = window.location.href;
                        // arr = current_url.split("/");
                        // case_id = arr.at(-1);
                        // month_id =arr[arr.length - 2];
                
                
                
                        const data = {
                            // "request_id": request_id,
                                            "payee": payee,

                                            // "upload": upload,
                                            "company_name_supplier1": company_name_supplier1,
                                            "item_number_supplier1": item_number_supplier1,
                                            "desc_supplier1": desc_supplier1,
                                            "qnty_supplier1":qnty_supplier1,
                                            "unit_price_supplier1":unit_price_supplier1,
                                            "total_price_supplier1": total_price_supplier1,

                                            "company_name_supplier2": company_name_supplier2,
                                            "item_number_supplier2": item_number_supplier2,
                                            "desc_supplier2": desc_supplier2,
                                            "qnty_supplier2":qnty_supplier2,
                                            "unit_price_supplier2":unit_price_supplier2,
                                            "total_price_supplier2": total_price_supplier2,

                                            "company_name_supplier3": company_name_supplier3,
                                            "item_number_supplier3": item_number_supplier3,
                                            "desc_supplier3": desc_supplier3,
                                            "qnty_supplier3":qnty_supplier3,
                                            "unit_price_supplier3":unit_price_supplier3,
                                            "total_price_supplier3": total_price_supplier3,

                                            "recommended_supplier": recommended_supplier,
                                            "recommended_supplier_reason": recommended_supplier_reason,
                                            "dpt_project_requesting": dpt_project_requesting,

                                            "service_request":service_request,
                                            // "requested_by_sig":requested_by_sig,
                                            // "requested_by_date": requested_by_date,

                                            // "tech_person_by": tech_person_by,
                                            // "tech_person_by_sig": tech_person_by_sig,
                                            // "tech_person_date": tech_person_date,

                                            // "dpt_head_by":dpt_head_by,
                                            // "dpt_head_by_sig":dpt_head_by_sig,
                                            // "dpt_head_date": dpt_head_date,

                                            // "team_lead_by": team_lead_by,
                                            // "team_lead_by_sig": team_lead_by_sig,
                                            // "team_lead_date": team_lead_date,

                                            // "approved_by":approved_by,
                                            // "approved_by_sig":approved_by_sig,
                                            // "approved_date": approved_date,
                                        };
                
                
                
                
                        
                      
                
                        $.post(url,data, function(data,status){
                          window.location.replace("https://www.lorkas.co.zw/comp_schedule_view/"+case_id);
                
                        console.log(data);
                        if (data['message']=="success"){
                            alert("success");
                            window.location.replace("https://www.lorkas.co.zw/comp_schedule_view/"+case_id);
                        }else{
                            alert(data['message']);
                            window.location.replace("https://www.lorkas.co.zw/comp_schedule_view/"+case_id);
                
                            // window.location.href="/view_record/"+case_id;
                
                        }
                
                        });
                
                
                
                
                
                    }
                
                    }
                        </script>
{% endblock content %}