{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">

            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>

            <!-- <div class="col-md-6">
                <label for="fname" class="form-label">request_id:</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Requestor:</label>
                <input type="text" class="form-control" id="requester" name="requester" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div>
            <p></p> -->

            <div class="col-md-6">
                <label for="fname" class="form-label">Add From Purchase Request:</label>
                <select class="form-control" name="purchase_id" id="purchase_id">
                    <option value="None">..</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Add From Comperative:</label>
                <select class="form-control" name="comp_schedule_id" id="comp_schedule_id">
                    <option value="None">..</option>
                </select>
            </div>
                    <p></p>
                   


            <div class="col-md-12">
                <label  class="form-label">Select Supplier Name:</label>
                <select class="form-control" name="sup_name" id="sup_name">
                    <option value="None">..</option>
    
                    </select>           
           </div>



            <div class="col-md-6">
                <label for="fname" class="form-label">Contact Person</label>
                <input type="text" class="form-control" id="contact_person" name="contact_person" value="" readonly>
            </div>

            <div class="col-md-6">
                <label for="lname" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="contact_number" name="contact_number" value="" readonly>
            </div>


            <div class="col-md-6">
                <label for="fname" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="Address" value="" readonly>
            </div>


            <p></p>

            <div class="col-md-6">
                <label for="fname" class="form-label">Item Name:</label>
                <input type="text" class="form-control" id="item_name" name="item_name" value="" readonly></input>
            </div>


            
            <div class="col-md-6">
                <label for="fname" class="form-label">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" value="" readonly>
            </div>


            <div class="col-md-6">
                <label for="lname" class="form-label">Description:</label>
                <textarea type="text" class="form-control" id="description" name="description" value="" readonly></textarea>
            </div>
            
            <div class="col-md-3">
                <label for="fname" class="form-label">Unit Cost:</label>
                <input type="number" class="form-control" id="unit_cost" name="unit_cost" value="">
            </div>

            <div class="col-md-3">
                <label for="fname" class="form-label">Total:</label>
                <input type="number" class="form-control" id="total_cost" name="total_cost" value="" readonly>
            </div>
<!-- 
            <div class="col-md-4">
                <label for="q1" class="form-label">Quotaion 1:</label>

                <input type="file" accept="application/pdf, application/vnd.ms-excel" class="form-control" id="q1" name="q1" value="John">
            </div> -->


            <div class="col-md-4">
                <label for="certifier" class="form-label">Department Head/Designee</label>
                <select class="form-control" name="required_by" id="required_by">
                <option value="None">..</option>

                </select>
            </div>
<!-- 
            <div class="col-md-4">
                <label for="certifier" class="form-label">Finance Officer:</label>
                <select class="form-control" name="approved_by" id="approved_by">
                <option value="None">..</option>

                </select>
            </div> -->

          </form>

          <div class="col-md-12">
            <a onclick="sendEdit();" class="btn btn-primary">Approve and SUBMIT</a>

            <script  language="JavaScript" type="text/javascript">

// populate the users dropdown
























$('#comp_schedule_id').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;

    // alert(valueSelected);




    const url1 = "  https://lorkas.co.zw/procurement/comp_schedule_get_record"
                    const data1 = {
                      'id':valueSelected,
                    }
            
                      $.post(url1,data1, function(data1,status){
                        console.log(data1)

                        $('#sup_name').val(data1['recommended_supplier']);

                        // $("#item_name").val(data1['item_name']);
                        // $("#quantity").val(data1['qnty']);

                        // $("#description").val(data1['description']); 




                        // $("#item_name_supplier2").val(data1['item_name']);
                        // $("#item_name").val(data1['item_name']);
                        // $("#quantity").val(data1['qnty']); 

                        // $("#item_name_supplier3").val(data1['item_name']);
                        // $("#desc_supplier3").val(data1['description']);
                        // $("#qnty_supplier3").val(data1['qnty']); 


                        $('#overlay').fadeOut();

        });


    
});





$('#unit_cost').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;


    var unit_cost1 = $("#unit_cost").val();
    var qnty1 = $("#quantity").val();
    $("#total_cost").val(unit_cost1*qnty1); 


});



$('#purchase_id').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;

    // alert(valueSelected);




    const url1 = "  https://lorkas.co.zw/procurement/purchase_request_get_record"
                    const data1 = {
                      'id':valueSelected,
                    }
            
                      $.post(url1,data1, function(data1,status){
                        console.log(data1)


                        $("#item_name").val(data1['item_name']);
                        $("#quantity").val(data1['qnty']);

                        $("#description").val(data1['description']); 




                        // $("#item_name_supplier2").val(data1['item_name']);
                        // $("#item_name").val(data1['item_name']);
                        // $("#quantity").val(data1['qnty']); 

                        // $("#item_name_supplier3").val(data1['item_name']);
                        // $("#desc_supplier3").val(data1['description']);
                        // $("#qnty_supplier3").val(data1['qnty']); 


                        $('#overlay').fadeOut();

        });


    
});


$('#sup_name').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;

    // alert(valueSelected);




    const url1 = "  https://lorkas.co.zw/procurement/suppliers_get_record"
                    const data1 = {
                      'id':valueSelected,
                    }
            
                      $.post(url1,data1, function(data1,status){
                        console.log(data1)


                        $("#contact_person").val(data1['contact_person']);
                        $("#contact_number").val(data1['contact_number']);

                        $("#address").val(data1['address']); 




                        // $("#item_name_supplier2").val(data1['item_name']);
                        // $("#item_name").val(data1['item_name']);
                        // $("#quantity").val(data1['qnty']); 

                        // $("#item_name_supplier3").val(data1['item_name']);
                        // $("#desc_supplier3").val(data1['description']);
                        // $("#qnty_supplier3").val(data1['qnty']); 


                        $('#overlay').fadeOut();

        });


    
});






// populate the service requests dropdown

const url_sups = "  https://lorkas.co.zw/procurement/get_suppliers"
                    const data_sups = {
                      'id':"case_id",
                    }
            
                      $.post(url_sups,data_sups, function(data_sups,status){
                        console.log(data_sups)
                        $.each(data_sups, function(val, text) {
                            $('#sup_name').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();

        });




const url = "  https://lorkas.co.zw/procurement/get_users"
const data = {
                      'id':"case_id",
                    }
        $.post(url,data, function(data,status){
            console.log(data)
                        $.each(data, function(val, text) {
                            $('#approved_by').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();
        });

        $.post(url,data, function(data,status){
        console.log(data)
                        $.each(data, function(val, text) {
                            $('#required_by').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();
        });




        const url1 = "  https://lorkas.co.zw/procurement/get_purchase_requests"
                    const data1 = {
                      'id':"case_id",
                    }
            
                      $.post(url1,data1, function(data1,status){
            

                        console.log(data1)


                        $.each(data1, function(val, text) {
                            $('#purchase_id').append( new Option(text,val) );
                        });
    
                        $('#overlay').fadeOut();
        });

        

        const url2 = "  https://lorkas.co.zw/procurement/get_comp_schedules"
                    const data2 = {
                      'id':"case_id",
                    }
            
                      $.post(url2,data2, function(data2,status){
            

                        console.log(data2)


                        $.each(data2, function(val, text) {
                            $('#comp_schedule_id').append( new Option(text,val) );
                        });

            
  
    
                        $('#overlay').fadeOut();


        });






function sendEdit(){
                        window.scrollTo({ top: 0, behavior: 'smooth' });

                        $('#overlay').fadeIn();
                        var total_cost= $("#total_cost").val(); 

                        var purchase_id= $("#purchase_id").val();
          
                        var comp_schedule_id= $("#comp_schedule_id").val();


if (comp_schedule_id == "None" && parseInt(total_cost)  > 1900){
    alert("this Request Requires a Comperative Schedule");
    return;
}
                     
if( purchase_id == "None" && comp_schedule_id == "None" ){
    alert("please select atleast purchase request");
    return;

}else{


var name= $("#sup_name").val();
var contact_person= $("#contact_person").val();
var contact_number= $("#contact_number").val();
var address= $("#address").val();

var item_name=$("#item_name").val();
var quantity= $("#quantity").val();
var description= $("#description").val();
var unit_cost= $("#unit_cost").val();
var total_cost= $("#total_cost").val(); 

// var ordered_by_date = $("#ordered_by_date").val();

var required_by=$("#required_by").val();
// var required_by_date= $("#required_by_date").val();

var approved_by=$("#approved_by").val();
                        // var approved_by_date= document.getElementById('approved_by_date').value;

                            current_url = window.location.href;
                            arr = current_url.split("_");
                            case_id = arr.at(-1);
                        if (case_id == "add"){
                
                        const url = "  https://lorkas.co.zw/procurement/purchase_order_send_record";

                        console.log("after url");
                        const data = {
 
                                            "purchase_id": purchase_id,
                                            "comp_schedule_id":comp_schedule_id,
                                            "sup_name": name,
                                            "contact_person":contact_person,
                                            "contact_number":contact_number,
                                            "address": address,


                                            "item_name": item_name,
                                            "description":description,
                                            "quantity":quantity,
                                            "unit_cost":unit_cost,
                                            "total_cost": total_cost,

                                            // "ordered_by_date":ordered_by_date,

                                            "required_by":required_by,
                                            // "required_by_date":required_by_date,

                                            "approved_by":approved_by,
                                            // "approved_by_date":approved_by_date,
                
                                            
                                           }
                
                                console.log("after dict");
                        $.post(url,data, function(data,status){
                        if (data['message']=="success"){
                            alert("success");
                            $('#overlay').fadeOut();

                            window.location.href="  https://lorkas.co.zw/procurement/purchase_order_quote_upload/"+data['id'];

                            // window.location.href="  https://lorkas.co.zw/procurement/purchase_order_all";
                        }else{
                            alert(data['message']);
                            console.log("err")
                            $('#overlay').fadeOut();
                            return
                            // window.location.href="  https://lorkas.co.zw/procurement/purchase_order_all";
                
                        }
                
                        });
                    }
                



                }









                    }
                        </script>
                
                
                
                


{% endblock content %}