{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">
            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>
            <!-- <div class="col-md-6">
                <label for="fname" class="form-label">request_id:</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Requestor:</label>
                <input type="text" class="form-control" id="requester" name="requester" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="" readonly >
            </div>
            <p></p> -->

            <div class="col-md-12">
                <label for="fname" class="form-label">From Purchase Request:</label>
                <input type="text" class="form-control" id="purchase_id" name="purchase_id" value="" readonly >
            </div>

            <div class="col-md-4">
                <label for="fname" class="form-label">Supplier Name:</label>
                <input type="text" class="form-control" id="sup_name" name="sup_name" value="" readonly >
            </div>

            <div class="col-md-4">
                <label for="lname" class="form-label">Contact Person:</label>
                <input type="text" class="form-control" id="contact_person" name="contact_person" value="" readonly >
            </div>

            <div class="col-md-4">
                <label for="fname" class="form-label">Contact Number:</label>
                <input type="text" class="form-control" id="contact_number" name="contact_number" value="" readonly >
            </div>

            <p></p>

            <!-- <center><p style="color:red;">Purchase Request Must be Approved by the DH/PI before a purchase Order is to be issued.</p></center> -->

            <p></p>

            <div class="col-md-6">
                <label for="fname" class="form-label">Address:</label>
                <input type="text" class="form-control" id="address" name="address" value="" readonly >
            </div>



            <!-- <div class="col-md-12">
                <label for="fname" class="form-label">Date</label>
                <textarea type="text" class="form-control" id="date" name="date" value="" readonly ></textarea>
            </div> -->

            <p></p>


            
            <div class="col-md-4">
                <label for="fname" class="form-label">Item Name:</label>
                <input type="text" class="form-control" id="item_name" name="item_name" value="" readonly >
            </div>


            <div class="col-md-4">
                <label for="fname" class="form-label">Quantity:</label>
                <input type="text" class="form-control" id="quantity" name="quantity" value="" readonly>
            </div>

            <div class="col-md-12">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date" name="date" value="" readonly >
            </div>




           <div class="col-md-12">
                <label for="supervisor_approved" class="form-label">description:</label>
                <input type="text" class="form-control" id="description" name="description" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="lname" class="form-label">Unit Cost:</label>
                <input type="text" class="form-control" id="unit_cost" name="unit_cost" value="" readonly >
            </div>


<!-- 
            <div class="col-md-12">
                <label for="certifier" class="form-label">Select Accounts Clerk</label>
                <select class="form-control" name="accounts_clerk_approved" id="accounts_clerk_approved">
                <option value="None">..</option>

                </select>
            </div> -->
 
            <div class="col-md-6">
                <label for="fname" class="form-label">Total Cost</label>
                <input type="text" class="form-control" id="total_cost" name="total_cost" value="" readonly >
            </div>


            <div class="col-md-12">
                <label for="certifier" class="form-label">Quotation</label>
                <a id="quotation" class="btn btn-primary" href="8010125.pdf" target="_blank">View</a>
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Ordered By</label>
                <input type="text" class="form-control" id="ordered_by" name="ordered_by" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date</label>
                <input type="text" class="form-control" id="ordered_by_date" name="ordered_by_date" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Required By:</label>
                <input type="text" class="form-control" id="required_by" name="required_by" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Required By Date:</label>
                <input type="text" class="form-control" id="required_by_date" name="required_by_date" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Approved By:</label>
                <input type="text" class="form-control" id="approved_by" name="approved_by" value="" readonly >
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Approved Date:</label>
                <input type="text" class="form-control" id="approved_by_date" name="approved_by_date" value="" readonly >
            </div>

            <div class="col-md-4">
                <label for="certifier" class="form-label">Approver</label>
                <select class="form-control" name="approved" id="approved">
                <option value="None">..</option>

                </select>
            </div>
          </form>
<hr>

<div class="col-md-6">
    <a onclick="sendEdit();" id="approve" class="btn btn-primary"> Approve</a>
  </div>

    <div id="messagediv" class="col-md-12">
        <label  class="form-label">Reason for Rejection:</label>
        <input type="text" class="form-control" id="message" name="message" value="" >
    </div>

    <div class="col-md-6">
        <a onclick="dummy();" id="dummy" class="btn btn-warning"> Reject</a>
    </div>
    <div class="col-md-6">
        <a onclick="reject();" id="reject" class="btn btn-primary"> Reject</a>
    </div>
          <!-- <form action="{% url 'home:purchase_request_quote_upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-md-6">
                <label for="fname" class="form-label">Request ID</label>
                <input style="display:none;" type="text" value="" id="request_id" name="request_id" readonly >
                </div>

                <div class="col-md-6">
                    <label for="quote" class="form-label">Attach Quotation</label>
                <input type="file"  value="" id="quote" name="quote" accept="pdf"/>
                    </div>
                <input type="submit" value="Submit" class="form-control" /> 

          </form> -->
          <!-- <div class="col-md-12">
            <a onclick="" class="btn btn-primary"> Print</a> -->








            <script  language="JavaScript" type="text/javascript">



$("#messagediv").hide();
    $("#reject").hide();

function dummy(){

    $("#messagediv").show();
    $("#reject").show();


    $("#approve").hide();
    $("#dummy").hide();


}



function reject(){

var message = $("#message").val();

if(message == ""){
    alert("Please provide a reason for rejection");
    return;
}




                                    current_url = window.location.href;
                                        arr = current_url.split("/");
                                        case_id = arr.at(-1);
                                    console.log(case_id);
                                    if (case_id == "add"){}else{
                                    const url = "  https://kaslor.co.zw/procurement/purchase_order_reject"
                                    const data = {
                                      'id':case_id,
                                      "message":message,
                                    }
                    
                                      $.post(url,data, function(data,status){
                            
                            if (data['message']=="success"){
                                alert(data['message']);
                                window.location.href="/procurement/purchase_order_all";

                            }else{
                                alert(data['message']);

                                window.location.href="/procurement/purchase_order_all";

                            }






                           });



                            }

                        }








const url = "  https://kaslor.co.zw/procurement/get_users"
const data = {
                      'id':"case_id",
                    }
        $.post(url,data, function(data,status){
            console.log(data)
                        $.each(data, function(val, text) {
                            $('#approved').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();
        });

                // populating the already existing records
                
                            current_url = window.location.href;
                                        arr = current_url.split("/");
                                        case_id = arr.at(-1);
                                    console.log(case_id);
                                    $("#request_id").val(case_id);
                                    if (case_id == "add"){}else{
                                    const url = "  https://kaslor.co.zw/procurement/purchase_order_get_record"
                                    const data = {
                                      'id':case_id,
                                    }
                            
                                      $.post(url,data, function(data,status){
                            
                            if (data['message']=="success"){

                
                    $("#purchase_id").val(data['purchase_id']);
                    $('#quotation').attr('href',data['pdf']);

                    $("#sup_name").val(data['sup_name']);
                    $("#contact_person").val(data['contact_person']);
                    $("#contact_number").val(data['contact_number']);
                    $("#address").val(data['address']);
                    $("#date").val(data['date']);

                    $("#item_name").val(data['item_name']);
                    $("#quantity").val(data['quantity']);
                    $("#description").val(data['description']);
                    $("#unit_cost").val(data['unit_cost']);
                    $("#total_cost").val(data['total_cost']);

                    $("#ordered_by").val(data['ordered_by']);
                    $("#ordered_by_date").val(data['ordered_by_date']);  
                    
                    $("#required_by").val(data['required_by']);
                    $("#required_by_date").val(data['required_by_date']); 

                    $("#ordered_by").val(data['ordered_by']);
                    $("#ordered_by_date").val(data['ordered_by_date']); 
                    
                    $("#approved_by").val(data['approved_by']);
                    $("#approved_by_date").val(data['approved_by_date']); 

                   
                   $('#overlay').fadeOut();
     
                }else{
                    $('#overlay').fadeOut();

                            alert(data['message']);
                            window.location.href="/purchase_request_all";
                
                        }
                
                        });
                    }

                    function print(){

                        current_url = window.location.href;
                                            arr = current_url.split("/");
                                            case_id = arr.at(-1);

                        window.location.href="  https://kaslor.co.zw/procurement/purchase_order_print/"+case_id;



                        }

                    function edit(){

                        current_url = window.location.href;
                                            arr = current_url.split("/");
                                            case_id = arr.at(-1);
                        window.location.href="  https://kaslor.co.zw/procurement/purchase_order_view/"+case_id;



                        }
                
                    function sendEdit(){
                        $('#overlay').fadeIn();
                        // var purchase_id= document.getElementById('purchase_id').value;

                        // var name= document.getElementById('name').value;
                        // var contact_person= document.getElementById('contact_person').value;
                        // var contact_number= document.getElementById('contact_number').value;
                        // var address= document.getElementById('address').value;
                        // var project= document.getElementById('project').value;
                        // var date= document.getElementById('date').value;
                        // var budget_line_item= document.getElementById('budget_line_item').value;

                        // var item_number= document.getElementById('item_number').value;

                        // var item= document.getElementById('item').value;
                        // var quantity= document.getElementById('quantity').value; 
                        // var description = document.getElementById('description').value;
                        // var unit_cost = document.getElementById('unit_cost').value;
                        // var total_cost=  document.getElementById('total_cost').value;

                
                        // var ordered_by = document.getElementById('ordered_by').value;
                        // var required_by= document.getElementById('required_by').value;
                        var approved= $('#approved').val();
                        // var accounts_clerk_approved_date= document.getElementById('accounts_clerk_approved_date').value;
      
                            current_url = window.location.href;
                            arr = current_url.split("/");
                            case_id = arr.at(-1);
                        console.log(case_id);
                
                        const url = "https://kaslor.co.zw/procurement/purchase_order_required";
                        // current_url = window.location.href;
                        // arr = current_url.split("/");
                        // case_id = arr.at(-1);
                        // month_id =arr[arr.length - 2];
                        console.log("after url");
                        const data = {
                            // "request_id": request_id,
                                            "id": case_id,
                                            "approver":approved,

                
                                           }
                
                                console.log("after dict");
                        $.post(url,data, function(data,status){
                        if (data['message']=="success"){
                            alert("success");
                            $('#overlay').fadeOut();

                            window.location.href="  https://kaslor.co.zw/procurement/purchase_order_all";
                        }else{
                            alert(data['message']);
                            $('#overlay').fadeOut();

                            window.location.href="  https://kaslor.co.zw/procurement/purchase_order_all";
                
                        }
                
                        });
                        // alert("stop hee");
                    }
                
                    
                        </script>
                
                
                
                


{% endblock content %}