{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">

            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>
<!-- 
            <div class="col-md-12">
                <label for="fname" class="form-label">Add From Comparative Schedule:</label>
                <select class="form-control" name="comp_schedule" id="comp_schedule">
                    <option value="None">..</option>
    
                    </select>           
             </div> -->

            <!-- <div class="col-md-6">
                <label for="fname" class="form-label">Requestor:</label>
                <input type="text" class="form-control" id="requester" name="requester" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div>
            <p></p> -->
            <div class="col-md-12">
                <label for="fname" class="form-label">Add From Purchase Order:</label>
                <select class="form-control" name="purchase_order" id="purchase_order">
                    <option value="None">..</option>
                </select>
            </div>


            <div class="col-md-12">
                <label for="fname" class="form-label">Add From Payment Request:</label>
                <select class="form-control" name="request_id" id="request_id">
                    <option value="None">..</option>
                </select>
            </div>


            <div class="col-md-12">
                <label for="certifier" class="form-label">Select Decision</label>
                <select class="form-control" name="status" id="status">
                <option value="processing">Accepted</option>
                <option value="completed">Rejected</option>

                </select>
            </div>



             <div class="col-md-6">
                <label for="fname" class="form-label"> Supplier Name:</label>
                <input type="text" class="form-control" id="supplier" name="supplier" value="">
            </div>

            <div class="col-md-6">
                <label for="fname" class="form-label">Receiving Department</label>
                <input type="text" class="form-control" id="dpt" name="dpt" value="">
            </div> 

            <div class="col-md-6">
                <label for="fname" class="form-label">Item Name</label>
                <input type="text" class="form-control" id="item_name" name="item_name" value="">
            </div> 


            <div class="col-md-6">
                <label for="lname" class="form-label">Description:</label>
                <input type="text" class="form-control" id="desc" name="desc" value="">
            </div>

            <div class="col-md-12">
                <label for="fname" class="form-label">Quantity:</label>
                <input type="text" class="form-control" id="qnty" name="qnty" value="">
            </div>
            <div class="col-md-12">
                <label for="fname" class="form-label">Serial:</label>
                <input type="text" class="form-control" id="qnty" name="qnty" value="">
            </div>

            <div class="col-md-6">
                <label for="lname" class="form-label">Comments:</label>
                <input type="text" class="form-control" id="comments" name="comments" value="">
            </div>



            <div class="col-md-12">
                <label for="certifier" class="form-label">Select Approver</label>
                <select class="form-control" name="certified_by" id="certified_by">
                <option value="None">..</option>

                </select>
            </div>
          </form>

          <div class="col-md-12">
            <a onclick="sendEdit();" class="btn btn-primary"> SUBMIT</a>

            <script  language="JavaScript" type="text/javascript">




// $('#comp_schedule').on('change', function(event) {
//        alert("This is the value selected in solutions: " + $(this).val());


//   });



// populate the users dropdown
    const url = "  http://127.0.0.1:8000/get_payment_requests"
                    const data = {
                      'id':"case_id",
                    }
                      $.post(url,data, function(data,status){
                        console.log(data)
                        $.each(data, function(val, text) {
                            $('#request_id').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();

        });


        const url1 = "http://127.0.0.1:8000/get_purchase_orders"
                    const data1 = {
                      'id':"case_id",
                    }
                      $.post(url1,data1, function(data1,status){
                        console.log(data1)
                        $.each(data1, function(val, text) {
                            $('#purchase_order').append( new Option(text,val) );
                        });
                        $('#overlay').fadeOut();

        });
                    
                    function sendEdit(){
                        window.scrollTo({ top: 0, behavior: 'smooth' });

                        $('#overlay').fadeIn();

                        var purchase_order= $("#purchase_order").val();
var payment_request= $("#payment_request").val();
var supplier= $("#supplier").val();
var dpt= $("#dpt").val();
var item_name= $("#item_name").val();

var desc= $("#desc").val();
var qnty= $("#qnty").val();
var serial= $("#serial").val();

var approver= $("#certified_by").val();
var comments= $("#comments").val();


var status= $("#status").val();
                        

                
    
                            current_url = window.location.href;
                            arr = current_url.split("_");
                            case_id = arr.at(-1);
                        if (case_id == "add"){
                
                        const url = "  http://127.0.0.1:8000/payment_ticket_send_record";
                        // current_url = window.location.href;
                        // arr = current_url.split("/");
                        // case_id = arr.at(-1);
                        // month_id =arr[arr.length - 2];
                        console.log("after url");
                        const data = {
                                            "payment_request": payment_request,
                                            "supplier": supplier,
                                            "request_id": request_id,

                                            "id": case_id,
                                            "dpt": dpt,
                                            "item_name": item_name,
                
                                            "status": status,
                                            "qnty": qnty,
                                            "desc": desc,
                                            "serial": serial,
                                            "approver": approver,

                                            "comments": comments,
                                            // "accounts_clerk_approved_date": accounts_clerk_approved_date,
                
                                           }
                
                                console.log("after dict");


                        $.post(url,data, function(data,status1){
                        if (data['message']=="success"){
                            alert("success");
                            $('#overlay').fadeOut();
                            alert(status);

                            if(status == "completed"){
                                window.location.href="  http://127.0.0.1:8000/payment_ticket_upload_pop/"+data['id'];

                                

                            }else{

                                window.location.href="  http://127.0.0.1:8000/payment_tickets_all";

                            }

                        }else{
                            alert(data['message']);
                            console,log("err")
                            $('#overlay').fadeOut();

                            window.location.href="  http://127.0.0.1:8000/payment_tickets_all";
                
                        }
                
                        });
                        // alert("stop hee");
                    }
                
                    }
                        </script>
                
                
                
                


{% endblock content %}