{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}


<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">
            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>

            <div class="col-md-6">
                <label  class="form-label">From Payment Request:</label>
                <input type="text" class="form-control" id="payment_request_id" name="payment_request_id" value="" readonly>
            </div>


            <div class="col-md-6">
                <label  class="form-label">From Purchase Order :</label>
                <input type="text" class="form-control" id="purchase_order" name="purchase_order" value="" readonly>
            </div>



            <div class="col-md-6">
                <label  class="form-label">Receiver:</label>
                <input type="text" class="form-control" id="receiver" name="receiver" value="" readonly>
            </div>


            <div class="col-md-12">
                <label  class="form-label">Date of Creation:</label>
                <input type="text" class="form-control" id="receiver_date" name="receiver_date" value="" readonly>
            </div>


            <div class="col-md-4">
                <label  class="form-label">Status:</label>
                <input type="text" class="form-control" id="status" name="status" value="" readonly>
            </div>



            <div class="col-md-6">
                <label  class="form-label">Supplier:</label>
                <input type="text" class="form-control" id="supplier" name="supplier" value="" readonly>
            </div>

            
            <div class="col-md-6">
                <label  class="form-label">Receiving Department:</label>
                <input type="text" class="form-control" id="dpt" name="dpt" value="" readonly>
            </div>

            <hr>
            <div class="col-md-6">
                <label  class="form-label">Item Name:</label>
                <input type="text" class="form-control" id="item_name" name="item_name" value="" readonly>
            </div>
            <div class="col-md-6">
                <label  class="form-label">Description:</label>
                <input type="text" class="form-control" id="desc" name="desc" value="" readonly>
            </div>


            <hr>

            <div class="col-md-6">
                <label  class="form-label">Quantity:</label>
                <input type="text" class="form-control" id="qnty" name="qnty" value="" readonly>
            </div>


            <div class="col-md-6">
                <label  class="form-label">Serial:</label>
                <input type="text" class="form-control" id="serial" name="serial" value="" readonly>
            </div>


            <div class="col-md-6">
                <label  class="form-label">Comments:</label>
                <input type="text" class="form-control" id="comments" name="comments" value="" readonly>
            </div>

<!-- 
             <div class="col-md-12">
                <label for="certifier" class="form-label">Select 2nd Approver </label>
                <select class="form-control" name="approved_by" id="approved_by">
                <option value="None">..</option>

                </select>
            </div> -->
<!--
            <div class="col-md-12">
                <label  class="form-label">Approved by Project Lead/Manager:</label>
                <input type="text" class="form-control" id="approved_by_project_man" name="approved_by_project_man" value="">
            </div> -->

            <!-- <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_project_man_date" name="approved_by_project_man_date" value="">
            </div> -->
            

            <hr>
          </form> 

          <form action="{% url 'goods_received_notes_upload_dnote' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="col-md-6">
          <label for="fname" class="form-label">Request ID</label>
          <input style="display:none;" type="text" value="" id="request_id" name="request_id" readonly >
          </div>

          <div class="col-md-6">
              <label for="quote" class="form-label">Attach Dnote</label>
                <input type="file"  value="" id="dnote" name="dnote" accept=".pdf" required/>
          </div>




          <input type="submit" value="Submit" class="form-control" /> 

    </form>

            <!-- <div style="margin-top: 2%;" class="col-md-12"> -->
                <!-- <a onclick="edit()" class="btn btn-primary"> Edit Record</a> -->
                <!-- <a onclick="print();" id="approve" class="btn btn-primary"> Print </a>
            </div> -->






<script  language="JavaScript" type="text/javascript">



// populating the already existing records

            current_url = window.location.href;
                        arr = current_url.split("/");
                        case_id = arr.at(-1);
                    console.log(case_id);
                    if (case_id == "add"){}else{
                    const url = "https://lorkas.co.zw/goods_received_notes_get_record"
                    const data = {
                      'id':case_id,
                    }
            
                      $.post(url,data, function(data,status){
            
            if (data['message']=="success"){

    console.log(data);

    $("#purchase_order").val(data['purchase_order']);
    $("#payment_request_id").val(data['payment_request']);

    $("#request_id").val(case_id);

    $("#item_name").val(data['item_name']);
    $("#comments").val(data['comments']);

    $("#supplier").val(data['supplier']);
    $("#qnty").val(data['qnty']);


    if ( data['dnote'] == "#"){
        $('#quotation1').attr('href',"#");
        $("#quotation1").removeAttr("target");
    }else{
        $('#quotation1').attr('href',data['pdf1']);
    }

    // if ( data['pdf2'] == "#"){
    //     $('#quotation2').attr('href',"#");
    //     $("#quotation2").removeAttr("target");
    // }else{
    //     $('#quotation2').attr('href',data['pdf2']);
    // }

    // if ( data['pop'] == "#"){
    //     $('#pop').attr('href',"#");
    //     $("#pop").removeAttr("target");
    // }else{
    //     $('#pop').attr('href',data['pop']);
    // }

    $("#desc").val(data['desc']); 
    $("#dpt").val(data['dpt']);
    $("#receiver").val(data['receiver']);
    $("#receiver_date").val(data['receiver_date']);

    $("#approver").val(data['approver']);
    $("#approver_date").val(data['approver_date']);

    $("#status").val(data['status']);
    $("#serial").val(data['serial']);


    $('#overlay').fadeOut();

  
    
                
        }else{
            alert(data['message']);
            $('#overlay').fadeOut();

            window.location.href="/payment_tickets_all";

        }

        });

    }



    function print(){

current_url = window.location.href;
                    arr = current_url.split("/");
                    case_id = arr.at(-1);

window.location.href="  https://lorkas.co.zw/payment_ticket_print/"+case_id;



}

function edit(){

current_url = window.location.href;
                    arr = current_url.split("/");
                    case_id = arr.at(-1);
window.location.href="  https://lorkas.co.zw/payment_ticket_view/"+case_id;



}


    function sendEdit(){
        $('#approve').prop('disabled', true);


            current_url = window.location.href;
            arr = current_url.split("/");
            case_id = arr.at(-1);
            console.log(case_id);

        const url = "  https://lorkas.co.zw/payment_request_approve";
        const data={
                // "clear":document.getElementById('cleared_by').value,
                "id":case_id,

            }
        $.post(url,data, function(data,status){
        if (data['message']=="success"){
            console.log("success")
            window.location.href="  https://lorkas.co.zw/payment_tickets_all";
        }else{
            console.log(data['message'])
            window.location.href="  https://lorkas.co.zw/payment_tickets_all";

        }

        });
        // alert("stop hee");



    }

        </script>




{% endblock content %} 
   
     
     
     
     
   
     
     

    
    

    