{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}


<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">
            <!-- <div id='loader'><img src="{% static 'assets/images/dribbble-progress-bar.gif' %}"/></div> -->

            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>
            <!-- <div class="col-md-6">
                <label  class="form-label">request_id:</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="">
            </div> -->
            <div class="col-md-6">
                <label for="fname" class="form-label">Add From Purchase Order:</label>
                <select class="form-control" name="purchase_order" id="purchase_order">
                    <option value="None">..</option>
    
                    </select>           
                 </div>
                 <div class="col-md-6">
                    <label for="fname" class="form-label">Type of Payment:</label>
                    <select class="form-control" name="type_of_payment" id="type_of_payment">
                        <option value="pre">Pre Payment</option>
                        <option value="part">Part Payment</option>
                        <option value="cod">Cash On Delivery</option>
                        <option value="post">Post Payment</option>

                        </select>           
                     </div>

                     <div id="gr" class="col-md-12">
                        <label for="fname" class="form-label">Select Good Received Note for this Post Payment supply:</label>
                        <select class="form-control" name="grnote" id="grnote">
                            <option value="None">..</option>
                        </select>
                    </div>

            <div class="col-md-6">
                <label  class="form-label">Payee:</label>
                <input type="text" class="form-control" id="payee" name="payee" value="" readonly>
            </div>


            <!-- <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div> -->

            <div class="col-md-6">
                <label  class="form-label"> Payment Type</label>
                <!-- <input type="text" class="form-control" id="payment_type" name="payment_type" value=""> -->
                <select class="form-control" name="payment_type" id="payment_type">
                    <option value="TRANSFER">TRANSFER</option>
                    <option value="CHEQUE">CHEQUE</option>
                    <option value="CASH">CASH</option>

                    </select>


            </div>


            <div class="col-md-12">
                <label  class="form-label">Details of Expenditure:</label>
                <input type="text" class="form-control" id="details" name="details" value="" style="height:90px;" readonly>
            </div>


            <div class="col-md-4">
                <label  class="form-label">Quantity:</label>
                <input type="number" class="form-control" id="qnty" name="qnty" value="" readonly>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Unit Amount:</label>
                <input type="number" class="form-control" id="amount" name="amount" value="" readonly>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Total:</label>
                <input type="number" class="form-control" id="total" name="total" value="" readonly>
            </div>

            <hr>

            <!-- <div class="col-md-6">
                <label  class="form-label">Compiled By:</label>
                <input type="text" class="form-control" id="compiled_by" name="compiled_by" value="">
            </div> -->

            <hr>


                <!-- <label  class="form-label">Certified By:</label>
                <input type="text" class="form-control" id="certified_by" name="certified_by" value=""> -->
            


            <div class="col-md-12">
                <label for="certifier" class="form-label">Select Procurement Officer</label>
                <select class="form-control" name="certified_by" id="certified_by">
                <option value="None">..</option>

                </select>
            </div>

            <!-- <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="certified_by_date" name="certified_by_date" value="">
            </div> -->

            <!-- <hr>

            <div class="col-md-12">
                <label  class="form-label">Cleared by Finance Manager:</label>
                <input type="text" class="form-control" id="cleared_by_fin_man" name="cleared_by_fin_man" value="">
            </div> -->
<!-- 
            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="cleared_by_fin_man_date" name="cleared_by_fin_man_date" value="">
            </div> -->

            <!-- <hr>

            <div class="col-md-12">
                <label  class="form-label">Approved by Project Lead/Manager:</label>
                <input type="text" class="form-control" id="approved_by_project_man" name="approved_by_project_man" value="">
            </div> -->

            <!-- <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_project_man_date" name="approved_by_project_man_date" value="">
            </div> -->
            
            <!-- <hr>

            <div class="col-md-12">
                <label  class="form-label">Approved By:</label>
                <input type="text" class="form-control" id="approved_by" name="approved_by" value="">
            </div> -->

            <!-- <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_date" name="approved_by_date" value="">
            </div> -->

            <!-- <hr> -->
          </form> 

            <div style="margin-top: 2%;" class="col-md-12">
                <a onclick="sendEdit();" id="add" class="btn btn-primary"> SUBMIT</a>
            </div>





<script  language="JavaScript" type="text/javascript">

$('#dis').fadeOut();
$("#gr").hide();

// $(window).load(function(){
//    // PAGE IS FULLY LOADED  
//    // FADE OUT YOUR OVERLAYING DIV
//    $('#overlay').fadeOut();
// });







  
const url = "  https://etakawengwa.pythonanywhere.com//procurement/get_goods_received_notes"
                    const data = {
                      'id':"case_id",
                    }
            
                      $.post(url,data, function(data,status){
            

console.log(data)


                        $.each(data, function(val, text) {
                            $('#grnote').append( new Option(text,val) );
                        });

            
  
                        $('#dis').fadeIn();

                        $('#overlay').fadeOut();


        });



    





    







$('#type_of_payment').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;

    if (valueSelected == "post" || valueSelected == "cod"){
        $("#gr").show();



    }


});


$('#purchase_order').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;





    const url1 = "  https://etakawengwa.pythonanywhere.com//procurement/purchase_order_get_record"
                    const data1 = {
                      'id':valueSelected,
                    }
            
                      $.post(url1,data1, function(data1,status){
                        console.log(data1)


                        $("#payee").val(data1['sup_name']);
                        $("#details").val("Payment of "+data1['description']);

                        $("#qnty").val(data1['quantity']); 

                        $("#amount").val(data1['unit_cost']);
                        $("#total").val(data1['total_cost']);


                        // $("#qnty_supplier2").val(data1['qnty']); 

                        // $("#item_name_supplier3").val(data1['item_name']);
                        // $("#desc_supplier3").val(data1['description']);
                        // $("#qnty_supplier3").val(data1['qnty']); 


                        $('#overlay').fadeOut();

        });


    
});

















// populating the already existing records

            current_url = window.location.href;
                        arr = current_url.split("_");
                        case_id = arr.at(-1);
                    console.log(case_id);
                    if (case_id == "add"){

  // populate the users dropdown
  const url1 = "  https://etakawengwa.pythonanywhere.com//procurement/get_purchase_orders"
                    const data1 = {
                      'id':"case_id",
                    }
            
                      $.post(url1,data1, function(data1,status){
            

console.log(data1)


                        $.each(data1, function(val, text) {
                            $('#purchase_order').append( new Option(text,val) );
                        });

            
  
    
                        $('#overlay').fadeOut();


        });



        
  const url = "  https://etakawengwa.pythonanywhere.com//procurement/get_users"
                    const data = {
                      'id':"case_id",
                    }
            
                      $.post(url,data, function(data,status){
            

console.log(data)


                        $.each(data, function(val, text) {
                            $('#certified_by').append( new Option(text,val) );
                        });

            
  
                        $('#dis').fadeIn();

                        $('#overlay').fadeOut();


        });



                    }else{
                    const url = "  https://etakawengwa.pythonanywhere.com//procurement/request_get_record"
                    const data = {
                      'id':case_id,
                    }
            
                      $.post(url,data, function(data,status){
            
            if (data['message']=="success"){



    // $("#date_of_request").val(data['date_of_request']);
    $("#payee").val(data['payee']);
    $("#payment_type").val(data['payment_type']);
    $("#amount").val(data['amount']);
    $("#project_number").val(data['project_number']);
   
    $("#account_code").val(data['account_code']); 
    $("#details ").val(data['details']);
    $("#amount").val(data['amount']);
     $("#qnty ").val(data['qnty']);
    $("#total").val(data['total']);
   
    $("#type_of_payment").val(data['type_of_payment']);
//     $("#certified_by_date").val(data['certified_by_date']);

//     $("#cleared_by_fin_man").val(data['cleared_by_fin_man']);
//     $("#cleared_by_fin_man_date").val(data['cleared_by_fin_man_date']);

//     $("#approved_by_project_man").val(data['approved_by_project_man']);
//     $("#approved_by_project_man_date").val(data['approved_by_project_man_date']);

//    $("#approved_by").val(data['approved_by']);
//     $("#approved_by_date").val(data['approved_by_date']);

            

    
                
        }else{
            alert(data['message']);
            $('#overlay').fadeOut();

            window.location.href="/payment_request_all";

        }

        });

    }






    function sendEdit(){

    $('#add').prop('disabled', true);
   $('#overlay').fadeIn();

   var purchase_order= $("#purchase_order").val();
var payee= $("#payee").val();
var payment_type= $("#payment_type").val();
var amount= $("#amount").val();
var project_number= $("#project_number").val();

var details = $("#details").val();
var qnty = $("#qnty").val();
var type_of_payment = $("#type_of_payment").val();
var total= $("#total").val();

var certified_by= $("#certified_by").val();
var grnote= $('#grnote').val();

if (type_of_payment == "post" && grnote=="None" || type_of_payment == "cod" && grnote=="None"){

    alert("please select GRN for this payment method");
    return;
}

        // var cleared_by_fin_man= document.getElementById('cleared_by_fin_man').value;
        // var cleared_by_fin_man_date= document.getElementById('cleared_by_fin_man_date').value;

        // var approved_by_project_man= document.getElementById('approved_by_project_man').value;
        // var approved_by_project_man_date= document.getElementById('approved_by_project_man_date').value;

        // var approved_by= document.getElementById('approved_by').value;
        // var approved_by_date= document.getElementById('approved_by_date').value;








            current_url = window.location.href;
            arr = current_url.split("_");
            case_id = arr.at(-1);
        console.log(case_id);
        if (case_id == "add"){

        const url = "  https://etakawengwa.pythonanywhere.com//procurement/payment_request_send_record";
        // current_url = window.location.href;
        // arr = current_url.split("/");
        // case_id = arr.at(-1);
        // month_id =arr[arr.length - 2];
        console.log("after url");
        const data = {
            // "date_of_request": date_of_request,
                            "payee": payee,
                            "payment_type": payment_type,
                            "amount": amount,

                            "details": details,
                            "case_id": case_id,
                            "qnty": qnty,
                            "total": total,

                            "certified_by": certified_by,
                            "purchase_order": purchase_order,

                            "type_of_payment": type_of_payment,
                            "grnote": grnote,

                            // "approved_by_project_man": approved_by_project_man,
                            // "approved_by_project_man_date": approved_by_project_man_date,

                            // "approved_by": approved_by,
                            // "approved_by_date": approved_by_date
                        }

                console.log("after dict");
        $.post(url,data, function(data,status){
               $('#overlay').fadeOut();

        if (data['message']=="success"){
            console.log("success");

            alert("success");

            if (type_of_payment == "cod" || type_of_payment == "post"){

                window.location.href="  https://etakawengwa.pythonanywhere.com//procurement/payment_request_quote_and_dnote_upload/"+data['id'];
            }
            if (type_of_payment == "pre" || type_of_payment == "part" ){

                window.location.href="  https://etakawengwa.pythonanywhere.com//procurement/payment_request_quote_upload/"+data['id'];
            }








        }else{
            console.log(data['message']);
            alert(data['message']);

            window.location.href="  https://etakawengwa.pythonanywhere.com//procurement/payment_request_all";

        }

        });
        // alert("stop hee");
    }else{

        const url = "  https://etakawengwa.pythonanywhere.com//procurement/payment_request_edit_record/";
        // current_url = window.location.href;
        // arr = current_url.split("/");
        // case_id = arr.at(-1);
        // month_id =arr[arr.length - 2];



        const data = {
            // "date_of_request": date_of_request,
                            "payee": payee,
                            "payment_type": payment_type,
                            "amount": amount,
                            "project_number": project_number,

                            "account_code": account_code, 
                            "details": details,
                            "case_id": case_id,
                            "qnty": qnty,
                            "total": total,

                            "certified_by": certified_by,
                            // "certified_by_date": certified_by_date,

                            // "cleared_by_fin_man": cleared_by_fin_man,
                            // "cleared_by_fin_man_date": cleared_by_fin_man_date,

                            // "approved_by_project_man": approved_by_project_man,
                            // "approved_by_project_man_date": approved_by_project_man_date,

                            // "approved_by": approved_by,
                            // "approved_by_date": approved_by_date,
                        };




        
      

        $.post(url,data, function(data,status){
        //   window.location.replace("  https://etakawengwa.pythonanywhere.com//procurement/payment_request_view/"+case_id);

        console.log(data);
        if (data['message']=="success"){
            alert("success");

            window.location.href="  https://etakawengwa.pythonanywhere.com//procurement/payment_request_quote_upload/"+data['id'];
        }else{
            alert(data['message']);
            window.location.href="  https://etakawengwa.pythonanywhere.com//procurement/payment_requests_all";

            // window.location.href="/view_record/"+case_id;

        }

        });





    }


    }























    



        </script>




{% endblock content %} 
   
     
     
     
     
   
     
     

    
    

    
    

    
    