{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}


<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">

            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>
            <!-- <div class="col-md-6">
                <label  class="form-label">request_id:</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="">
            </div> -->

            <div class="col-md-6">
                <label  class="form-label">Payee:</label>
                <input type="text" class="form-control" id="payee" name="payee" value="" readonly>
            </div>


            <!-- <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div> -->

            <div class="col-md-6">
                <label  class="form-label"> Payment Type</label>
                <!-- <input type="text" class="form-control" id="payment_type" name="payment_type" value=""> -->
                <select class="form-control" name="payment_type" id="payment_type" disabled>
                    <option value="TRANSFER">TRANSFER</option>

                    <option value="CHEQUE">CHEQUE</option>
                    <option value="CASH">CASH</option>

                    </select>


            </div>






            <div class="col-md-12">
                <label  class="form-label">Details of Expenditure:</label>
                <input type="text" class="form-control" id="details" name="details" value="" style="height:90px;" readonly>
            </div>


            <div class="col-md-4">
                <label  class="form-label">Quantity:</label>
                <input type="text" class="form-control" id="qnty" name="qnty" value="" readonly>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Unit Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" value="" readonly>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Total:</label>
                <input type="text" class="form-control" id="total" name="total" value="" readonly>
            </div>

            <hr>

            <div class="col-md-6">
                <label  class="form-label">Compiled By:</label>
                <input type="text" class="form-control" id="compiled_by" name="compiled_by" value="" readonly>
            </div>

            
            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="compiled_by_date" name="compiled_by_date" value="" readonly>
            </div>

            <hr>
            <div class="col-md-6">
                <label  class="form-label">Certified By:</label>
                <input type="text" class="form-control" id="certified_by" name="certified_by" value="" readonly>
            </div>
            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="certified_by_date" name="certified_by_date" value="" readonly>
            </div>









            <!-- <div class="col-md-12">
                <label  class="form-label">Cleared by Finance Manager:</label>
                <input type="text" class="form-control" id="cleared_by_fin_man" name="cleared_by_fin_man" value="" readonly>
            </div>

            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="cleared_by_fin_man_date" name="cleared_by_fin_man_date" value="" readonly>
            </div>

             <hr> -->
<!--
            <div class="col-md-12">
                <label  class="form-label">Approved by Project Lead/Manager:</label>
                <input type="text" class="form-control" id="approved_by_project_man" name="approved_by_project_man" value="">
            </div> -->

            <!-- <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_project_man_date" name="approved_by_project_man_date" value="">
            </div> -->
            
            <!-- <hr>

            <div class="col-md-12">
                <label  class="form-label">Approved By:</label>
                <input type="text" class="form-control" id="approved_by" name="approved_by" value="">
            </div> -->

            <!-- <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_date" name="approved_by_date" value="">
            </div> -->

            <!-- <hr> -->
          </form> 

          <div class="col-md-6">
            <a onclick="sendEdit();" id="approve" class="btn btn-primary"> Approve</a>
          </div>

            <div id="messagediv" class="col-md-12">
                <label  class="form-label">Reason for Rejection:</label>
                <input type="text" class="form-control" id="message" name="message" value="" >
            </div>

            <div class="col-md-6">
                <a onclick="dummy();" id="dummy" class="btn btn-warning"> Reject</a>
            </div>
            <div class="col-md-6">
                <a onclick="reject();" id="reject" class="btn btn-primary"> Reject</a>
            </div>






<script  language="JavaScript" type="text/javascript">




$("#messagediv").hide();
    $("#reject").hide();

function dummy(){

    $("#messagediv").show();
    $("#reject").show();


    $("#approve").hide();
    $("#dummy").hide();


}



function reject(){

var message = $("#message").val();

if(message == ""){
    alert("Please provide a reason for rejection");
    return;
}




                                    current_url = window.location.href;
                                        arr = current_url.split("/");
                                        case_id = arr.at(-1);
                                    console.log(case_id);
                                    if (case_id == "add"){}else{
                                    const url = "  https://lorkas.co.zw/procurement/payment_request_reject"
                                    const data = {
                                      'id':case_id,
                                      "message":message,
                                    }
                    
                                      $.post(url,data, function(data,status){
                            
                            if (data['message']=="success"){
                                alert(data['message']);
                                window.location.href="/procurement/payment_request_all";

                            }else{
                                alert(data['message']);

                                window.location.href="/procurement/payment_request_all";

                            }






                           });



                            }

                        }







    








// populating the already existing records

            current_url = window.location.href;
                        arr = current_url.split("/");
                        case_id = arr.at(-1);
                    console.log(case_id);
                    if (case_id == "add"){}else{
                    const url = "  https://lorkas.co.zw/procurement/payment_request_get_record"
                    const data = {
                      'id':case_id,
                    }
            
                      $.post(url,data, function(data,status){
            
            if (data['message']=="success"){



    // $("#date_of_request").val(data['date_of_request']);
    $("#payee").val(data['payee']);
    $("#payment_type").val(data['payment_type']);
    $("#amount").val(data['amount']);
   
    $("#details").val(data['details']);
    $("#qnty").val(data['qnty']);
    //  $("#unit_price ").val(data['unit_price']);
    $("#total").val(data['total']);
    $("#compiled_by").val(data['compiled_by']);
     $("#compiled_by_date").val(data['compiled_by_date']);
    $("#certified_by").val(data['certified_by']);
    $("#certified_by_date").val(data['certified_by_date']);

//     $("#cleared_by_fin_man").val(data['cleared_by_fin_man']);
//     $("#cleared_by_fin_man_date").val(data['cleared_by_fin_man_date']);

//     $("#approved_by_project_man").val(data['approved_by_project_man']);
//     $("#approved_by_project_man_date").val(data['approved_by_project_man_date']);

//    $("#approved_by").val(data['approved_by']);
//     $("#approved_by_date").val(data['approved_by_date']);

            
  // populate the users dropdown


    
                
        }else{
            $('#overlay').fadeOut();

            alert(data['message']);
            window.location.href="/payment_request_all";

        }

        });

    }






    function sendEdit(){
        window.scrollTo({ top: 0, behavior: 'smooth' });

        $('#overlay').fadeIn();

        $('#clear').prop('disabled', true);

            current_url = window.location.href;
            arr = current_url.split("/");
            case_id = arr.at(-1);
            console.log(case_id);

        const url = "  https://lorkas.co.zw/procurement/payment_request_clear";
        const  data={
                "id":case_id,

            }
        $.post(url,data, function(data,status){
        if (data['message']=="success"){
            alert("success");
            $('#overlay').fadeOut();

            window.location.href="  https://lorkas.co.zw/procurement/payment_request_all";
        }else{
            alert(data['message']);
            $('#overlay').fadeOut();

            return;
        }

        });
        // alert("stop hee");



    }

        </script>




{% endblock content %} 
   
     
     
     
     
   
     
     

    
    

    