{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}


<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
       
        <form class="row g-3">
            <div id="overlay">
                <img src="{% static 'assets/images/dribbble-progress-bar.gif' %}" alt="Loading" />
                
           </div>
            <div class="col-md-6">
                <label  class="form-label">From Purchase Order:</label>
                <input type="text" class="form-control" id="purchase_order" name="purchase_order" value="" readonly>
            </div>

            <div class="col-md-6">
                <label  class="form-label">Payee:</label>
                <input type="text" class="form-control" id="payee" name="payee" value="" readonly>
            </div>


            <!-- <div class="col-md-4">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="date_of_request" name="date_of_request" value="">
            </div> -->

            <div class="col-md-6">
                <label  class="form-label"> Payment Type</label>
                <!-- <input type="text" class="form-control" id="payment_type" name="payment_type" value=""> -->
                <select class="form-control" name="payment_type" id="payment_type" disabled>
                    <option value="TRANSFER">TRANSFER</option>

                    <option value="CHEQUE">CHEQUE</option>
                    <option value="CASH">CASH</option>

                    </select>


            </div>
            <div class="col-md-6">
                <label  class="form-label"> Type of Payment</label>
                <!-- <input type="text" class="form-control" id="payment_type" name="payment_type" value=""> -->
                <select class="form-control" name="type_of_payment" id="type_of_payment" disabled>
                    <option value="pre">Pre Payment</option>
                    <option value="part">Part Payment</option>
                    <option value="cod">Cash On Delivery</option>
                    <option value="post">Post Payment</option>
                    </select>


            </div>




            <div class="col-md-12">
                <label  class="form-label">Details of Expenditure:</label>
                <input type="text" class="form-control" id="details" name="details" value="" style="height:90px;" readonly>
            </div>


            <div class="col-md-4">
                <label  class="form-label">Quantity:</label>
                <input type="text" class="form-control" id="qnty" name="qnty" value="" readonly>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Unit Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" value="" readonly>
            </div>

            <div class="col-md-4">
                <label  class="form-label">Total:</label>
                <input type="text" class="form-control" id="total" name="total" value="" readonly>
            </div>



            <hr>

            <div class="col-md-6">
                <label  class="form-label">Compiled By:</label>
                <input type="text" class="form-control" id="compiled_by" name="compiled_by" value="" readonly>
            </div>

            
            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="compiled_by_date" name="compiled_by_date" value="" readonly>
            </div>

            <hr>
            <div class="col-md-6">
                <label  class="form-label">Certified By:</label>
                <input type="text" class="form-control" id="certified_by" name="certified_by" value="" readonly>
            </div>
            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="certified_by_date" name="certified_by_date" value="" readonly>
            </div>




            <hr>

            <div class="col-md-6">
                <label  class="form-label">Cleared by Finance :</label>
                <input type="text" class="form-control" id="cleared_by_fin_man" name="cleared_by_fin_man" value="" readonly>
            </div>

            <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="cleared_by_fin_man_date" name="cleared_by_fin_man_date" value="" readonly>
            </div>

            <div class="col-md-4">
                <label for="certifier" class="form-label">Profoma Invoice</label>
                <a id="quotation1" class="btn btn-primary" href="8010125.pdf" target="_blank">View</a>
            </div>  
            <div class="col-md-4">
                <label for="certifier" class="form-label">Delivery Note</label>
                <a id="quotation2" class="btn btn-primary" href="8010125.pdf" target="_blank">View</a>
            </div>   

<!-- 
             <div class="col-md-12">
                <label for="certifier" class="form-label">Select 2nd Approver </label>
                <select class="form-control" name="approved_by" id="approved_by">
                <option value="None">..</option>

                </select>
            </div> -->
<!--
            <div class="col-md-12">
                <label  class="form-label">Approved by Project Lead/Manager:</label>
                <input type="text" class="form-control" id="approved_by_project_man" name="approved_by_project_man" value="">
            </div> -->

            <!-- <div class="col-md-6">
                <label  class="form-label">Date:</label>
                <input type="text" class="form-control" id="approved_by_project_man_date" name="approved_by_project_man_date" value="">
            </div> -->
            

            {% if record.rejector == "None" %}
            {% else %}
          <div style="position: fixed; 
            bottom: 500px; 
            left: 200px;
            z-index: 10000;
            font-size:100px; 
            color: red; 
            transform:rotate(-30deg);
            opacity: 0.6;">
              rejected by {{record.rejector}}
              </div>

              <p>Rejection message :<b>{{record.rejector_message}}</b> </p>
              <p>Rejection date :<b>{{record.rejector_date}}</b> </p>

          {% endif %}

          </form> 

            <div style="margin-top: 2%;" class="col-md-12">
                <!-- <a onclick="edit()" class="btn btn-primary"> Edit Record</a> -->
                <a onclick="print();" id="approve" class="btn btn-primary"> Print </a>
            </div>







<script  language="JavaScript" type="text/javascript">




// populate the users dropdown

const url = "  https://kaslor.co.zw/procurement/get_users"
                    const data = {
                      'id':"case_id",
                    }
            
                      $.post(url,data, function(data,status){
            

                        console.log(data)

                        $.each(data, function(val, text) {
                            $('#approved_by').append( new Option(text,val) );
                        });

        });

    








// populating the already existing records

            current_url = window.location.href;
                        arr = current_url.split("/");
                        case_id = arr.at(-1);
                    console.log(case_id);
                    if (case_id == "add"){}else{
                    const url = "  https://kaslor.co.zw/procurement/payment_request_get_record"
                    const data = {
                      'id':case_id,
                    }
            
                      $.post(url,data, function(data,status){
            
            if (data['message']=="success"){

    console.log(data)
    $("#purchase_order").val(data['purchase_id']);

    // $("#date_of_request").val(data['date_of_request']);
    $("#payee").val(data['payee']);
    $("#payment_type").val(data['payment_type']);
    $("#amount").val(data['amount']);
   
    if ( data['pdf1'] == "#"){
        $('#quotation1').attr('href',"#");
        $("#quotation1").removeAttr("target");
    }else{
        $('#quotation1').attr('href',data['pdf1']);
    }

    if ( data['pdf2'] == "#"){
        $('#quotation2').attr('href',"#");
        $("#quotation2").removeAttr("target");
    }else{
        $('#quotation2').attr('href',data['pdf2']);
    }

    if ( data['pop'] == "#"){
        $('#pop').attr('href',"#");
        $("#pop").removeAttr("target");
    }else{
        $('#pop').attr('href',data['pop']);
    }

    $("#details").val(data['details']);
    $("#accepted_by").val(data['accepted_by']);

    $("#accepted_by_date").val(data['accepted_by_date']);
     $("#qnty").val(data['qnty']);
    $("#total").val(data['total']);
    $("#compiled_by").val(data['compiled_by']);
     $("#compiled_by_date").val(data['compiled_by_date']);
    $("#certified_by").val(data['certified_by']);
    $("#certified_by_date").val(data['certified_by_date']);

    $("#cleared_by_fin_man").val(data['cleared_by_fin_man']);
    $("#cleared_by_fin_man_date").val(data['cleared_by_fin_man_date']);

//     $("#approved_by_project_man").val(data['approved_by_project_man']);
//     $("#approved_by_project_man_date").val(data['approved_by_project_man_date']);


    $('#overlay').fadeOut();

  
    
                
        }else{
            alert(data['message']);
            $('#overlay').fadeOut();

            window.location.href="/payment_request_all";

        }

        });

    }



    function print(){

current_url = window.location.href;
                    arr = current_url.split("/");
                    case_id = arr.at(-1);

window.location.href="  https://kaslor.co.zw/procurement/payment_request_print/"+case_id;



}


function pop(){


    alert("opo");
}

function edit(){

current_url = window.location.href;
                    arr = current_url.split("/");
                    case_id = arr.at(-1);
window.location.href="  https://kaslor.co.zw/procurement/payment_request_view/"+case_id;



}


    function sendEdit(){
        $('#approve').prop('disabled', true);


            current_url = window.location.href;
            arr = current_url.split("/");
            case_id = arr.at(-1);
            console.log(case_id);

        const url = "  https://kaslor.co.zw/procurement/payment_request_approve";
        const data={
                // "clear":document.getElementById('cleared_by').value,
                "id":case_id,

            }
        $.post(url,data, function(data,status){
        if (data['message']=="success"){
            console.log("success")
            window.location.href="  https://kaslor.co.zw/procurement/payment_request_all";
        }else{
            console.log(data['message'])
            window.location.href="  https://kaslor.co.zw/procurement/payment_request_all";

        }

        });
        // alert("stop hee");



    }

        </script>




{% endblock content %} 
   
     
     
     
     
   
     
     

    
    

    